# In-Class Assignment 2 (Part 2 of 2: Data Analysis) - 50 points (Autograded)

<div class="alert alert-block alert-danger">
<h4> Instructions for Autograding </h4>
</div> 

1. This homework is autograded, so you need to follow the instructions very strictly. 
2. **Points will be lost if the instructions are not followed, even though the intent of problem solving (or the solution) is right.**
3. Each problem asks you to assign the results to a variable with specific name. These variables are used by the autograding script. 
4. For example, if the question asks to assign the number of rows in a dataframe `bball_df` to variable named `num_rows_bball` then you should use that specific variable as shown below. 
```python
num_rows_bball = bball_df.shape[0]
```
5. You need to **provide the code** that assigns the value to the specific variable. 
6. You do not have to use **`for`** loops for any of the problems below. **Significant points will be lost if you do not use the UFuncs (Universal Functions) available in Pandas package**. 
7. You can check **the results of autograding by using the 'Details' menu from top right corner and clicking on the grading report**. 
8. Though you have unlimited number of sumissions, **do not waste time waiting for the grading report for every submission**.

## Dataset 

In this part of the assignment you will be working with a sample from the Basket Ball statistics data. [More Info on Data](https://www.basketball-reference.com/leagues/NBA_2017_totals.html). 

**Look at the [link](https://www.basketball-reference.com/leagues/NBA_2017_totals.html) to understand mean of column names**

<div class="alert alert-block alert-warning">
<h4> Make sure you run the following cell.  </h4>
The following set up cell is used to load all the required packages. 
</div>

In [1]:
import numpy as np
import pandas as pd

## Problem 1: Load the data (3 points)


Load the 'basketball.csv' data set and **assign 'Player' column as an index**. The CSV file is already uploaded in './data' folder. 

**Make sure you assign the loaded dataframe into the variable named `bball_df`**

In [2]:
bball_df = pd.read_csv('./data/basketball.csv', index_col = 'Player')
bball_df.head()

                Rk Pos  Age   Tm    MP   FG  FGA   FT  FTA   PF   PTS
Player
A.J. Price     373  PG   28  PHO    44    3   14    0    0    5     6
Aaron Brooks    63  PG   30  CHI  1885  344  817  145  174  189   954
Aaron Gordon   176  PF   19  ORL   797   93  208   44   61   83   243
Adreian Payne  362  PF   23  MIN   720   89  213   29   44   84   208
Al Horford     222   C   28  ATL  2318  519  965  107  141  121  1156

## Problem 2: LeBron James (6 points)

What is the team and rank of the player "LeBron James" in the dataset? 

**Make sure you assign the team to `LeBron_Tm` variable and rank to `LeBron_Rk` variable.**

In [3]:
LeBron_Tm = bball_df.loc['LeBron James']['Tm']
LeBron_Rk = bball_df.loc['LeBron James']['Rk']

# If you have assign BOTH of the above variables appropriately you can 'uncomment' (remove the hash) from 
# the following print statement to see the output

print("LeBron James belongs to '{0}' team and his rank in this dataset is {1}.".format(LeBron_Tm, LeBron_Rk))

LeBron James belongs to 'CLE' team and his rank in this dataset is 235.

## Problem 3: Calculating the Field Goal Percentage column (6 points)

If you look closely at the columns of the data there is a column for field goal attempts 'FGA' and field goals 'FG'. Create a column named `FG_perc` that provides the percentage of field goals among the field goal attempts for each player. **Also, remember this is a percentage not a fraction**. 

**Make sure you create a column `FG_perc` in the `bball_df` to hold the field goal percentage.**

In [4]:
bball_df['FG_Perc'] =  100* bball_df['FG']/ bball_df['FGA']

bball_df.head()

,Rk,Pos,Age,Tm,MP,FG,FGA,FT,FTA,PF,PTS,FG_Perc
Player,,,,,,,,,,,,
A.J. Price,373,PG,28,PHO,44,3,14,0,0,5,6,21.428571
Aaron Brooks,63,PG,30,CHI,1885,344,817,145,174,189,954,42.105263
Aaron Gordon,176,PF,19,ORL,797,93,208,44,61,83,243,44.711538
Adreian Payne,362,PF,23,MIN,720,89,213,29,44,84,208,41.784038
Al Horford,222,C,28,ATL,2318,519,965,107,141,121,1156,53.782383

## Problem 4: Basic Investigations (20 points)

<div class="alert alert-block alert-warning">
<h3> Creating a column for points per minute </h3>
<p>**Make sure you run the following cell.**</p>
<p>
The following set up cell is used to load all the required packages. </p>
</div>

In [5]:
# For your convenience I have created the column
# The number of points per minute is the total number of points (PTS) divided by the number of minutes played (MP)

bball_df['PTS_per_Min'] = bball_df['PTS']/bball_df['MP']

** You have to answer the ALL of the following questions to receive full credit.**

Calculate the following characteristics about the `bball_df` dataset. 

1. What is the mean age of the players? 
    * Assign the mean value to `mean_age` variable. 
2. Which player has the most number of points ('PTS')? 
    * Assign player name with the most number of points to `max_pts_player` variable.
3. Which player has the least number of personal fouls ('PF')? 
    * Assign player name with the least number of personal fouls to `min_pf_player` variable.
4. Among the players above 35, who has the most number of points per minutes ('PTS_per_Min')?  
    * Assign this players name to `abv_35_max_pts_per_min_player` variable. 
5. Is the average age of players in the team Chicago Bulls ('CHI') greater than average age of players in team Boston Celtics ('BOS')? 
    * Assign the boolean value of your comparison to the variable `is_age_chi_gt_bos`.

In [7]:
mean_age = bball_df['Age'].mean()

max_pts_player = bball_df['PTS'].argmax()

min_pf_player = bball_df['PF'].argmin()

abv_35_max_pts_per_min_player = bball_df[bball_df['Age']>35]['PTS_per_Min'].argmax()

is_age_chi_gt_bos = bball_df[bball_df['Tm'] == 'CHI']['Age'].mean()> bball_df[bball_df['Tm'] == 'BOS']['Age'].mean()


# After you assign ALL the values appropriately you can uncomment (remove hash) from each of the following code and print statements 
# to see the output printed for you. 

print("The average age of players in the dataset is {}".format(mean_age))
print("The maximum number of points was scored by the player {}".format(max_pts_player))
print("The minimum number of personal fouls are made by the player {}".format(min_pf_player))
print("Among players above age 35, {} has the most number of points per minute".format(abv_35_max_pts_per_min_player))
if is_age_chi_gt_bos:
    print("Average age of Chicago Bulls players is greater than Boston Celtics")
else:
    print("Average age of Boston Celtics players is greater than Chicago Bulls")

The average age of players in the dataset is 26.536585365853657
The maximum number of points was scored by the player James Harden
The minimum number of personal fouls are made by the player Jerrelle Benimon
Among players above age 35, Kobe Bryant has the most number of points per minute
Average age of Chicago Bulls players is greater than Boston Celtics

## Problem 5: Testing a hypothesis (10 points)

There is a claim that players gain experience with age and hence score more points. One way to see if this claim is true, is to do the following tasks

1. What is the median age of the players?
    * Assign the median age to the variable named `med_age`. 
    
2. What are the average number of points ('PTS') scored by players above the `med_age` and average points scored by players less than or equal to `med_age`? 
    * Assign the average points above median age to variable `avg_pts_abv_med` and average points less than or equal to median age to variable named `avg_pts_lt_eq_med`

3. Print the `avg_pts_abv_med`, `avg_pts_lt_eq_med` values and compare them. Do you think the claim 'Higher age players score more points than lower age players'? 
    * Assign `True` or `False` to variable named `is_claim_true`.

In [8]:
med_age = bball_df['Age'].median()

avg_pts_abv_med =  bball_df[bball_df['Age']> med_age]['PTS'].mean()

avg_pts_lt_eq_med = bball_df[bball_df['Age']<= med_age]['PTS'].mean()

print(avg_pts_abv_med)

print(avg_pts_lt_eq_med)

489.08597285067873
445.4760147601476

In [9]:
# Assign True or False Boolean value to the following variable

is_claim_true = avg_pts_abv_med > avg_pts_lt_eq_med

## Problem 6: Writing Cavaliers to the file (5 points)

Extract the players who belong to the Cleveland Cavaliers team ('CLE') into a separate `DataFrame` and **save it as a file in the './data' folder with the file name 'Cleveland_players.csv'** using [to_csv()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)

In [11]:
cle_players = bball_df[bball_df['Tm'] == 'CLE']

cle_players.to_csv('./data/Cleveland_players.csv')